<!doctype html>
<html lang="pt-br">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            Nota
        </a>
    </nav>
    <div class="container">
        {{> title}}
        <h1>Hello {{user}}!</h1>
    </div>

    <div id="editorjs"></div>
      <div id="hint" style="text-align: center;">
        No submodules found. Run <code class="inline-code">yarn pull_tools</code>
      </div>
      <div class="ce-example__button" id="saveButton">
        editor.save()
      </div>

    <script src="assets/jquery/jquery.min.js"></script>
    <!-- bootstrap and popper -->
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
<script src="assets/editor.js" onload="document.getElementById('hint').hidden = true"></script>
<script>
    const editor = new EditorJS('editorjs');
</script>

</html>