<!doctype html>
<html lang="en">

{{> head}}

<body>
    {{> navbar isActiveNewNota=true}}

    <div class="mx-auto">
        <div class="container">
            <h1 class="text-center">New Nota {{user}}!</h1>
        </div>
        <div class="card mx-auto" style="width: 65%;">
            <div class="card-body">
                <div id="editorjs"></div>
            </div>
        </div>
        <br>
        <div class="text-center"> 
            <button id="saveButton" type="button" class="btn btn-primary" onclick="sendNota()">Save</button>
        </div>
    </div>

    <div id="hint" style="text-align: center;">
        No submodules found. Run <code class="inline-code">yarn pull_tools</code>
    </div>



    <script src="assets/jquery/jquery.min.js"></script>
    <!-- bootstrap and popper -->
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

<script src="assets/editor.js" onload="document.getElementById('hint').hidden = true"></script>
<script src="assets/editorChecklist.js"></script>
<script>
    const editor = new EditorJS({ holder: "editorjs", tools: { checklist: { class: Checklist, inlineToolbar: true, }, } });

    const sendNota = () => {
        editor.save().then((outputData) => {
            console.log('Article data: ', outputData)
        }).catch((error) => {
            console.log('Saving failed: ', error)
        });
    }
</script>

</html>